.header{
    font-size: xx-large;
    padding-left: 1%;
}

.dashboard{
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 1px #2e0000;
}

.dashboard img{
    max-height: 70px;  
     
}