<div class = "header">Dashboard</div>
<br>


<div style="border-radius: 25px;  border: 2px solid #ceca00; background: #ECECEC; padding: 30px; ">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/admin.PNG"><br>
            <a href = "/contact">Total Number of Admins</a><br>
            <div class = "number">
              {{admins.length}}
            </div>
          </div>
          <br><br><br>
          
        </nz-card>
        <br><br>
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/advisors.PNG"><br>
            <a href = "/contact">Total Number of Advisors</a><br>
            <div class = "number">
              {{advisors.length}}
            </div>
          </div>
            
            <br><br><br>
           
          </nz-card>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/managers.PNG"><br>
            <a href = "/contact">Total Number of Managers</a><br>
            <div class = "number">
              {{managers.length}}
            </div>
            
          </div>
         
          <br><br><br>
          
        </nz-card>
        <br><br>
        <nz-card>
          
          <div class = "dashboard">
            <img src="/assets/images/coaches.PNG"><br>
            <a href = "/contact">Total Number of Coaches</a><br>
            <div class = "number">
              {{coaches.length}}
            </div>
          </div>
           
            <br><br><br>
            
          </nz-card>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/specialists.PNG"><br>
            <a href = "contact">Total Number of Specialists</a><br>
            <div class = "number">
              {{specialists.length}}
            </div>
          </div>
          <br><br><br>
       
        </nz-card>
        <br><br>
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/clients.PNG"><br>
            <a href = "/contact">Total Number of Clients</a><br>
            <div class = "number">
              {{clients.length}}
            </div>
          </div>
           
            <br><br><br>
          
          </nz-card>
      </nz-col>
    </nz-row>
  </div>