<div class = "header">Dashboard</div>
<br>


<div style="border-radius: 25px;  border: 2px solid #ceca00; background: #ECECEC; padding: 30px; ">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/admin.PNG"><br>
            Total Number of Admins
          </div>
          <br><br><br>
          
        </nz-card>
        <br><br>
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/advisors.PNG"><br>
            Total Number of Advisors
          </div>
            
            <br><br><br>
           
          </nz-card>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/managers.PNG"><br>
            Total Number of Managers
          </div>
         
          <br><br><br>
          
        </nz-card>
        <br><br>
        <nz-card>
          
          <div class = "dashboard">
            <img src="/assets/images/coaches.PNG"><br>
            Total Number of Coaches
          </div>
           
            <br><br><br>
            
          </nz-card>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/specialists.PNG"><br>
            Total Number of Specialists
          </div>
          <br><br><br>
       
        </nz-card>
        <br><br>
        <nz-card>
          <div class = "dashboard">
            <img src="/assets/images/clients.PNG"><br>
            Total Number of Clients
          </div>
           
            <br><br><br>
          
          </nz-card>
      </nz-col>
    </nz-row>
  </div>